BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
IndentCaseLabels: true
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
SortIncludes: false
IncludeBlocks: Preserve
FixNamespaceComments: false
Cpp11BracedListStyle: true
